
Name of Business:<textarea rows = "2" [(ngModel)] = "enteredbusiness_name"></textarea><br>
Category of Business:<textarea rows = "2" [(ngModel)] = "enteredbusiness_category"></textarea><br>
Business Phone No.:<textarea rows = "2" [(ngModel)] = "enteredbusiness_phoneno"></textarea><br>
Whatsapp Phone No.:<textarea rows = "2" [(ngModel)] = "enteredwhatsapp_phoneno"></textarea><br>
Business Email Id(optional):<textarea rows = "2" [(ngModel)] = "enteredbusiness_email"></textarea><br>
Business Address:<textarea rows = "2" [(ngModel)] = "enteredbusiness_address"></textarea><br>
Products to Sell:<textarea rows = "2" [(ngModel)] = "enteredproducts_to_sell"></textarea><br>
If Product is Edible, Shelf-life of Product:<textarea rows = "2" [(ngModel)] = "enteredif_edibleproduct_shelflife"></textarea><br>
Delivery Service Required:<textarea rows = "2" [(ngModel)] = "entereddelivery_service_required"></textarea><br>
Learn or Teach a Skill:<textarea rows = "2" [(ngModel)] = "enteredlearn_teach_skill"></textarea><br>
Enter Your Skill set:<textarea rows = "2" [(ngModel)] = "enteredskill_set"></textarea><br>
Post a Job Opening:<textarea rows = "2" [(ngModel)] = "enteredpost_jobOpening"></textarea><br>
Remarks:<textarea rows = "2" [(ngModel)] = "enteredremarks"></textarea><br>
<hr>
<button (click)="onAddPost()">Save Post</button>
<p>{{business_name}}</p>
